
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/informes.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <script type="text/javascript" >
        //helloWord();
        //get();
        //getDisponibilidade();
        getConsultaEPECNaoConciliado();
    </script>
    <div>
    </div>
</body>
</html>
